@font-face {
  font-family: 'iconfont';  /* project id 1115206 */
  src: url('https://at.alicdn.com/t/font_1115206_42hjuqwimcl.eot');
  src: url('https://at.alicdn.com/t/font_1115206_42hjuqwimcl.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_1115206_42hjuqwimcl.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_1115206_42hjuqwimcl.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1115206_42hjuqwimcl.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_1115206_42hjuqwimcl.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic_wechat:before {
  content: "\e652";
}

.ic_fenxiao:before {
  content: "\e653";
}

.ic_left:before {
  content: "\e600";
}

.ic_set:before {
  content: "\e601";
}

.ic_account-num:before {
  content: "\e602";
}

.ic_key:before {
  content: "\e603";
}

.ic_shop:before {
  content: "\e604";
}

.ic_find:before {
  content: "\e605";
}

.ic_contacts:before {
  content: "\e606";
}

.ic_group:before {
  content: "\e607";
}

.ic_department:before {
  content: "\e608";
}

.ic_chat-record:before {
  content: "\e609";
}

.ic_public-address:before {
  content: "\e60a";
}

.ic_collection-event:before {
  content: "\e60b";
}

.ic_close:before {
  content: "\e60c";
}

.ic_system-news:before {
  content: "\e60d";
}

.ic_message-task:before {
  content: "\e60e";
}

.ic_more:before {
  content: "\e60f";
}

.ic_add-colleague:before {
  content: "\e610";
}

.ic_create-agenda:before {
  content: "\e611";
}

.ic_create-tasks:before {
  content: "\e612";
}

.ic_message-management:before {
  content: "\e613";
}

.ic_messages-set:before {
  content: "\e614";
}

.ic_qq:before {
  content: "\e615";
}

.ic_weibo:before {
  content: "\e617";
}

.ic_organize-structure:before {
  content: "\e618";
}

.ic_my-colleague:before {
  content: "\e619";
}

.ic_group-chat:before {
  content: "\e61a";
}

.ic_public-code:before {
  content: "\e61b";
}

.ic_add:before {
  content: "\e61c";
}

.ic_group-1:before {
  content: "\e61d";
}

.ic_group-2:before {
  content: "\e61e";
}

.ic_clock:before {
  content: "\e61f";
}

.ic_report:before {
  content: "\e620";
}

.ic_schedule-tasks:before {
  content: "\e621";
}

.ic_approval:before {
  content: "\e622";
}

.ic_party-building-2:before {
  content: "\e623";
}

.ic_police-work:before {
  content: "\e624";
}

.ic_teleconference:before {
  content: "\e625";
}

.ic_videoconferencing:before {
  content: "\e626";
}

.ic_enterprise-email:before {
  content: "\e627";
}

.ic_cloud-disk:before {
  content: "\e628";
}

.ic_up:before {
  content: "\e629";
}

.ic_down:before {
  content: "\e62a";
}

.ic_party-building-1:before {
  content: "\e62b";
}

.ic_intelligent-meeting:before {
  content: "\e62c";
}

.ic_customer-service:before {
  content: "\e62d";
}

.ic_blackboard-news:before {
  content: "\e62e";
}

.ic_report-form:before {
  content: "\e62f";
}

.ic_check-work:before {
  content: "\e630";
}

.ic_ID-photo:before {
  content: "\e631";
}

.ic_pdf:before {
  content: "\e632";
}

.ic_personal-incomeTax:before {
  content: "\e633";
}

.ic_finance:before {
  content: "\e634";
}

.ic_my-notice:before {
  content: "\e635";
}

.ic_my-collection:before {
  content: "\e636";
}

.ic_my-service:before {
  content: "\e637";
}

.ic_business-card:before {
  content: "\e638";
}

.ic_more-jump:before {
  content: "\e639";
}

.ic_help-center:before {
  content: "\e63a";
}

.ic_topic-switching:before {
  content: "\e63b";
}

.ic_about-us:before {
  content: "\e63c";
}

.ic_feedback:before {
  content: "\e63d";
}

.ic_system-set:before {
  content: "\e63e";
}

.ic_voice:before {
  content: "\e63f";
}

.ic_expression:before {
  content: "\e640";
}

.ic_open:before {
  content: "\e641";
}

.ic_new-edition:before {
  content: "\e642";
}

.ic_new-function:before {
  content: "\e643";
}

.ic_copyright-information:before {
  content: "\e644";
}

.ic_off-line:before {
  content: "\e645";
}

.ic_collection-per:before {
  content: "\e646";
}

.ic_phone:before {
  content: "\e647";
}

.ic_landline:before {
  content: "\e648";
}

.ic_email:before {
  content: "\e649";
}

.ic_appcenter:before {
  content: "\e64a";
}

.ic_message:before {
  content: "\e64c";
}

.ic_mine:before {
  content: "\e64d";
}

.ic_concat:before {
  content: "\e64b";
}

.ic_appcenter-active:before {
  content: "\e64e";
}

.ic_shoucang77:before {
  content: "\e64f";
}

.ic_concat-active:before {
  content: "\e650";
}

.ic_message-active:before {
  content: "\e651";
}

.ic_mine-active:before {
  content: "\e616";
}

.ic_more1:before {
  content: "\e654";
}

.ic_saoyisao:before {
	content: "\e655";
}